body, html {
    height: 100%; /* ตั้งค่าความสูงของ body และ html เป็น 100% เพื่อให้เต็มขนาดหน้าจอ */
    margin: 0;
    display: flex; /* ใช้ Flexbox เพื่อจัดการยึดรูปกลางหน้าจอ */
    justify-content: center; /* ยืดหรือย่อ Flex Items ในแนวแกนนอนเพื่อจัดตำแหน่งตามศูนย์กลาง */
    align-items: center; /* ยืดหรือย่อ Flex Items ในแนวตั้งเพื่อจัดตำแหน่งตามศูนย์กลาง */
}

.container {
    width: 50vw; /* กำหนดความกว้างของคอนเทนเนอร์เป็น 50% ของ viewport width */
    height: 50vh; /* กำหนดความสูงของคอนเทนเนอร์เป็น 50% ของ viewport height */
}

img {
    max-width: 100%; /* ป้องกันรูปไม่เกินขอบของคอนเทนเนอร์ */
    max-height: 100%; /* ป้องกันรูปไม่เกินความสูงของคอนเทนเนอร์ */
    display: block; /* กำหนดให้รูปภาพเป็น block element */
    margin: auto; /* กำหนดให้รูปภาพอยู่ตรงกลางของคอนเทนเนอร์ */
}
